/*****Base Styles*****/
body{
  font-family: 'Lora', serif;
  font-family: 'Homemade Apple', cursive;
}

p{
  font-family: 'Homemade Apple', cursive;
}
#about{
  height: 500px;
}

#work{
  height: 850px;
}

#contact{
  height: 600px;
}

#container{
  width: 1200px;
  margin: auto;
}
/******General grid*********/
.full-width{
  width: 1200px;
  margin: auto;
}
.two-thirds-width{
  width:800px;
  float: left;
}
.half-width{
  width: 600px;
  float: left;
}
.third-width{
  width: 400px;
  float: left;
}

/*****Header section*****/

header{
    height: 600px;
    text-align: right;

}
header h1{
  font-family: 'Lora', serif;
  font size: 36px;
  padding-left: 80px;
  text-align: right;
}

nav {
      float: center;
      font-family: 'Lora', serif;
      padding-left: 100px;
      text-align: right;
}

nav ul li{
    display: inline;
}

nav ul li a {
      text-decoration: none;
      font-size:24px;
      color: #828282;
      line-height: 48px;
}

#logo{
  border: 12px solid #0B6666;
  float: right;
  margin: 50px 0 60px 80px;
}

/***** Setting up the About section*****/


#about .full-width{
  padding: 50px 0;
}
#about h2{
  font-family: 'Homemade Apple', cursive;
  font-size: 36px;
  color: black;
  line-height:1px;
}

#about p{
  font-family: 'Lora', serif;
  font-size: 21px;
  color: black;
  line-height: 40px;
  padding-right: 38px;
}
/***** Setting up the work section*****/

#work {
  background-color: #B29913;
  text-align: center;
}

#work .full-width {
  padding: 30px 0;
}

#work img {
  padding-bottom: 30px;
}
#work h2{
  font-family: 'Homemade Apple', cursive;
  font-size: 36px;
  text-align: left;
}

#work h3 {
    font-family: 'Homemade Apple', cursive;
    font-size: 21px;
    padding: 0 50px 0px 50px;
    width: third-width;
    margin: 0 auto;
}

#work p {
    font-family: 'Lora', serif;
    font-size: 18px;
    line-height: 32px;
    color: #2B2B2B;
    padding: 0 50px 35px 50px;
  }

/*****Setting up the Contact section *****/

#contact{
  background-color: #EBEBEB;
  font-family: 'Lora', serif;

}

#contact .full-width{
  padding: 110px 0
}

#contact-img{
  border: 12px solid #0B6666;
}

#contact h2, #email-header, #socialmedia-header{
    padding-left: 115px;
}
#envelope {
    padding: 0 10px 0 115px;
}

#contact h2 {
    font-size: 36px;
    line-height: 60px;
}
#email-header{
    font-size:26px;
    line-height: 50px;
    font-weight: lighter;
    margin: -30px 0 5px 0;
}
#facebook{
  padding-left: 110px;
}

#socialmedia-header {
    font-weight: bold;
    font-size:36px;
    line-height: 50px;
    margin: 60px 0 0 0;
}
#contact a {
    text-decoration: none;
    color: #C49075;
    font-weight: bold;
    font-size: 24px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
    display: inline-block;
}
#contact ul img {
    padding-right: 48px;
}

/****Setting up gallery pages*****/
#gallery-header{
  height: 300px;
}

#gallery-logo{
  border: 12px solid #0B6666;
  float: left;
  margin: 10px 0 10px 0;
}

#gallery-lead{
  height: 220px;
}

#gallery-lead h1{
  font-family: 'Homemade Apple', cursive;
  font-size: 50px;
  line-height: 12px;
}

#gallery-lead p{
  font-family: 'Lora', serif;
  font-size: 18px;
  line-height: 32px;
  padding-right: 30px;
}

#gallery-footer{
  font-family: 'Lora', serif;
  font-size: 24px;
}

#gallery-contact{
  font-family: 'Lora', serif;
  font-size: 24px;
}

/*****Setting up custom creations page*****/

#creations1{
  height: 300px;
}

#creations2{
  height: 350px;
}

#creations3{
  height: 525px;
}

#large-image {
  margin-left: 40px;
  margin-top:40px;
}

#large-image p{
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 34px;
  margin-top: 40px;
  width: 750px;

}
/******Setting up the Upcycle Page *****/

#transform1, #transform2, #transform4{
  height: 325px;
}

#transform3{
  height: 270px;
}

#transform5{
  height:350px;
}

.gallery-third-width p{
  float: left;
  font-family: 'Lora', serif;
  font-size: 20px;
  line-height: 34px;
  margin-top: 40px;
  width: 400px;
}

/*****Setting up the Interior Design page*****/

.design{
  height: 470px;
}
